# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Env variables
.env

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific
.DS_Store
Thumbs.db

# Builds (si jamais tu ajoutes du TypeScript ou du transpiling plus tard)
dist/
build/

# Coverage reports
coverage/

# MongoDB dump/temp data (si utilisé localement)
dump/
*.lock
